   /*
MY COLOR PALETTE
Black - #000000
Dark grey - #909090
Pale green - #D7F7A8
White - #FFFFFF
*/
@media {
    h1 {
        font-family: Barlow;
    }
    h2 {
        font-family: DM Sans;
    }
    h4 {
        border-bottom: 2px solid black
    }

    img {
        width: 100%;
    }
    #contact {
        background-color: #ffffff;
        color: #ffffff;
        font-family: "DM Sans";
    }
    #topper {
        background-color: #d7f7a8;
    }
    #title {
        background-color: #ffffff;
    }
    #contact {
        background-color: #d7f7a8;
    }
    button {
        display:block;
        margin:auto
    }
    #navigation {
        background-color: #909090;
        text-align: center;
    }
}

@media (min-width: 576px) {
    h1 {
        font-size: 120px;
    }
}
